<h2>Product</h2>
<br/>
<label>Name</label>
<span>{{product.Name}}</span>
<br/>
<label>Description</label>
<span>{{product.Description}}</span>
<br/>
<label>Price</label>
<span>{{product.Price}}</span>
<br/>
<label>Rating</label>
<span>{{product.Ratings}}</span>
<br/>
<a ng-click="delete" ui-sref="/delete">Delete</a>
<a ng-click="back" ui-sref="/list">Back</a>