<h2>Products</h2>
<br/>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td>{{product.desc}}</td>
           
        </tr>
    </tbody>
</table>